In [1]:
%run ../utils.py

In [2]:
import pandas as pd
import numpy as np
import gc, sys
from tqdm import tqdm_notebook as tqdm
from sklearn.metrics.pairwise import cosine_similarity
import matplotlib.pyplot as plt

## build matrix data : recipes x ingredients
1. open PP_recipes.csv
2. create a set that enumerates all possible ingredients
3. build the matrix with dim : nbOfRecipes x nbOfPossibleIngredients

In [3]:
#read the recipes file
pp_recipes = pd.read_csv('../../data/PP_recipes.csv')
pp_recipes.sort_values(['i'], inplace=True)
pp_recipes.head(3)

,id,i,name_tokens,ingredient_tokens,steps_tokens,techniques,calorie_level,ingredient_ids
46053,40893,0,"[40480, 1454, 16201, 2056, 955, 541, 11332, 82...","[[1424, 8876, 11007], [3484, 21453], [38966, 2...","[40480, 40482, 23667, 11007, 240, 21453, 240, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, ...",0,"[3384, 7979, 2127, 3502, 3217, 1257, 2778, 500..."
108526,44394,1,"[40480, 34712, 22683, 11274, 5409, 29868, 40481]","[[5343, 535, 2044, 5409, 7087], [17869, 6020],...","[40480, 40482, 12172, 1281, 5409, 7087, 240, 6...","[1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,"[912, 7557, 2499, 5382]"
41248,85009,2,"[40480, 12187, 13995, 571, 14719, 40481]","[[1061, 494, 813, 2141], [31843], [30645, 4785...","[40480, 40482, 2572, 19472, 31757, 512, 823, 4...","[1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, ...",2,"[4623, 6265, 1168, 6016, 3597, 3440, 7213, 169..."

In [4]:
# we need to create a collection of ingredients_ids to build vectors of recipes
set_ingredients = set()

for i in tqdm(range(len(pp_recipes['ingredient_ids']))):
    current = [int(x.strip()) for x in pp_recipes['ingredient_ids'].values[i][1:-1].split(',')]
    set_ingredients.update(current)
    
print('Number of ingredients in total :', len(set_ingredients))

HBox(children=(IntProgress(value=0, max=178265), HTML(value='')))

Number of ingredients in total : 7993

In [5]:
list_ingredients = list(set_ingredients)

#initialize the matrix
np_matrix = np.zeros((len(pp_recipes), list_ingredients[-1] + 1),dtype=np.uint8)

#populate it
for i in tqdm(range(len(pp_recipes['ingredient_ids']))):
    for x in pp_recipes['ingredient_ids'].values[i][1:-1].split(','):
        np_matrix[i,int(x.strip())] = 1

HBox(children=(IntProgress(value=0, max=178265), HTML(value='')))

In [6]:
#wrap the matrix in a pandas dataframe
pd_matrix = pd.DataFrame(np_matrix,columns=range(list_ingredients[-1] + 1), index=pp_recipes['i'].values,dtype=np.uint8)

del np_matrix
gc.collect()

pd_matrix.head(5)

,0,1,2,3,4,5,6,7,8,9,...,8013,8014,8015,8016,8017,8018,8019,8020,8021,8022
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
#check matrix consistensy with user ID 23
assert(pd_matrix.loc[23,389]==1)
assert(pd_matrix.loc[23,7655]==1)
assert(pd_matrix.loc[23,6270]==1)
assert(pd_matrix.loc[23,1527]==1)
assert(pd_matrix.loc[23,3406]==1)

## Apply SVD decomposition for dimensionality reduction
As the matrix is sparse : we have about 8000 ingredients but recipes contains on average 10 ingredients
we use the scipy.sparse.linalg.svds for the SVD decomposition

In [8]:
from scipy.sparse.linalg import svds

#takes around 20 minutes
U, S, V = svds(pd_matrix.values.astype(np.float32),k=2000)

In [9]:
reduced_matrix = U * S
print('shape of reduced matrix :', reduced_matrix.shape)

shape of reduced matrix : (178265, 2000)

## Apply PCA dimensionality reduction

In [ ]:
C = pd_matrix - np.mean(pd_matrix, axis = 0)
Cov = C @ C.T

from scipy.sparse.linalg import eigsh
eigvect, eigval = eigsh(Cov, k=1000)

# distance Measure between recipes : Cosine Similarity
1. We will compute the cosineSimilarity for recipe id #7 on the matrix and reduced_matrix (SVD)
2. We will display top 5 recommandations (the 5 recipes that are the closest)

In [10]:
def OneVSAllCosineSimilarity(oneId, featuresMatrix):
    """For a matrix of features, computes the cosine similarity for one index *oneId* against all ids 
       including *oneId*
        oneId :  
            int, the id on wich the cosine similarity must be compute
        featuresMatrix: 
            numpy array, matrix of features : items x features
    :Returns:
         A array of cosine similarity of size (1, items-1)
    :Example:
        cosineSimilarity = OneVSAllCosineSimilarity(0, pd_matrix)
    """
    oneVector = featuresMatrix[oneId,:].reshape(1, -1)
    
    return cosine_similarity(oneVector, featuresMatrix)[0]

In [11]:
#execute cosine similarity on user #7
result = OneVSAllCosineSimilarity(7, pd_matrix.values)
result_reduced = OneVSAllCosineSimilarity(7, reduced_matrix)

In [12]:
pp_recipes = pd.read_csv('../../data/PP_recipes.csv')
raw_recipes = pd.read_csv('../../data/RAW_recipes.csv')

In [13]:
def GetClosestRecipes(oneId, cosine_vector, N, verbose=True):
    """Return the topN recipes in cosine_vector considering oneId in cosine_vector
        oneId :  
            int, the id on wich the cosine similarity has been compute
        cosine_vector: 
            numpy array, array of cosine vector for all recipes
        N:
            integer, number of top N recipes to return
        verbose:
            Boolean, if true, print topN recipes info
    :Returns:
         two arrays. A array of topN recipes ID (i) and a array of topN scores
    :Example:
        GetClosestRecipes(0, result, 20)
    """
    locationOneId = np.where(np.argsort(cosine_vector)[::-1] == oneId)[0][0]
    topNrecipes = None
    
    if locationOneId >= N:
        topNrecipes = np.argsort(cosine_vector)[::-1][:N]
        topNScore = np.sort(cosine_vector)[::-1][:N]
    else:
        topNrecipes = np.argsort(cosine_vector)[:(-N-2):-1][np.arange(N+1)!=locationOneId]
        topNScore = np.sort(cosine_vector)[:(-N-2):-1][np.arange(N+1)!=locationOneId]
    
    if verbose:
        print(f'The recipe you are looking for ({oneId}) is:')
        display(GetRecipesInformationsbyId([oneId], pp_recipes, raw_recipes))
        print(f'the top {N} closest recipes are:')
        topN = GetRecipesInformationsbyId(topNrecipes, pp_recipes, raw_recipes)
        topN['score']=topNScore
        topN.sort_values('score', inplace=True, ascending=False)
        display(topN)
    
    gc.collect()
    
    return topNrecipes, topNScore

GetClosestRecipes(7, result, 5, True)
GetClosestRecipes(7, result_reduced, 5, True)

The recipe you are looking for (7) is:

                       name                                        ingredients
165178  potato crab chowder  ['butter', 'onion', 'garlic', 'potatoes', 'flo...

the top 5 closest recipes are:

,name,ingredients,score
38091,celery vichyssoise,"['onion', 'butter', 'flour', 'chicken broth', ...",0.647150
115668,judy s clam chowder,"['minced clams', 'onion', 'potatoes', 'bacon',...",0.640513
146917,old fashioned chicken casserole,"['flour', 'salt and pepper', 'butter', 'chicke...",0.588348
158154,peppery scalloped potatoes,"['cream of mushroom soup', 'milk', 'salt', 'ca...",0.588348
223068,very easy cheesy scalloped potatoes,"['potatoes', 'onions', 'butter', 'flour', 'sal...",0.588348

The recipe you are looking for (7) is:

                       name                                        ingredients
165178  potato crab chowder  ['butter', 'onion', 'garlic', 'potatoes', 'flo...

the top 5 closest recipes are:

,name,ingredients,score
33527,cajun corn chowder,"['butter', 'onion', 'flour', 'chicken broth', ...",0.647281
115668,judy s clam chowder,"['minced clams', 'onion', 'potatoes', 'bacon',...",0.640638
146917,old fashioned chicken casserole,"['flour', 'salt and pepper', 'butter', 'chicke...",0.590066
158154,peppery scalloped potatoes,"['cream of mushroom soup', 'milk', 'salt', 'ca...",0.588944
223068,very easy cheesy scalloped potatoes,"['potatoes', 'onions', 'butter', 'flour', 'sal...",0.588474

(array([114014,  95251, 176883, 141197, 154171]),
 array([0.6472813, 0.6406385, 0.5900662, 0.5889437, 0.5884744],
       dtype=float32))

In [14]:
print(cosine_similarity(pd_matrix.loc[7,:].values.reshape(1, -1), pd_matrix.loc[152668,:].values.reshape(1, -1)))
print(np.argwhere(pd_matrix.loc[166329,:].values.reshape(1, -1)==1))
print(np.argwhere(pd_matrix.loc[0,:].values.reshape(1, -1)==1))

[[0.58834841]]
[[   0 1093]
 [   0 3217]
 [   0 3502]
 [   0 5006]
 [   0 6832]]
[[   0 1257]
 [   0 2127]
 [   0 2778]
 [   0 3217]
 [   0 3384]
 [   0 3502]
 [   0 5006]
 [   0 6654]
 [   0 7979]]

# implement a global method for recommandation
1. loop over all recipes rated by a user to identify the 5 closest one (for each recipes)
2. provide the 'aggregate' 5 closest ones for all recipes (room to improve heuristic)

In [15]:
#read the train file to get user's data
interactions_train = pd.read_csv('../../data/generated/interactions_train.csv')

def getCBFRecommandation(userId, topN, listRecipesId, ing_matrix):
    """Return the topN recipes in cosine_vector considering oneId in cosine_vector
        oneId :  
            int, the id on wich the cosine similarity has been compute
        cosine_vector: 
            numpy array, array of cosine vector for all recipes
        N:
            integer, number of top N recipes to return
        verbose:
            Boolean, if true, print topN recipes info
    :Returns:
         two arrays. A array of topN recipes ID (i) and a array of topN scores
    :Example:
        GetClosestRecipes(0, result, 20)
    """

    dict_recipes = dict()

    for i in tqdm(listRecipesId):
        similarity = OneVSAllCosineSimilarity(i, ing_matrix)
        recipes, scores = GetClosestRecipes(i, similarity, topN, True)
        for recipe, score in zip(recipes, scores):
            if recipe not in interactions_train[interactions_train['u']==userId]['i'].values:
                if (recipe not in dict_recipes) or (dict_recipes[recipe] < score):
                    dict_recipes[recipe] = score

    #exclude recipes already performed by user
    #todo

    dict_recipes = sorted(dict_recipes.items(), key=lambda k: k[1], reverse=True)

    return dict_recipes[:topN]


reco = getCBFRecommandation(16, 5, interactions_train[interactions_train['u']==16]['i'].values[:3],pd_matrix.values)
reco

HBox(children=(IntProgress(value=0, max=3), HTML(value='')))

The recipe you are looking for (99787) is:

,name,ingredients
213826,to die for crock pot roast,"['beef roast', 'brown gravy mix', 'dried itali..."

the top 5 closest recipes are:

,name,ingredients,score
1289,3 pack pot roast,"['beef roast', 'brown gravy mix', 'italian sal...",1.000000
5748,another crock pot roast,"['beef roast', 'ranch dressing mix', 'liquid s...",1.000000
76000,easy company pot roast,"['beef roast', 'brown gravy mix', 'dried itali...",0.894427
112293,italian beef au jus,"['boneless beef roast', 'au jus mix', 'italian...",0.816497
213219,three packs and a roast,"['beef roast', 'ranch dressing mix', 'italian ...",0.670820

The recipe you are looking for (75726) is:

,name,ingredients
19756,beautiful burger buns,"['water', 'butter', 'egg', 'unbleached flour',..."

the top 5 closest recipes are:

,name,ingredients,score
2261,abm dinner rolls,"['water', 'eggs', 'butter', 'sugar', 'salt', '...",0.777778
67538,crusty cheddar bread,"['active dry yeast', 'water', 'cottage cheese'...",0.755929
141908,my hard rolls for bratwurst,"['flour', 'water', 'salt', 'instant yeast', 's...",0.755929
151276,overnight butter rolls,"['dry yeast', 'water', 'eggs', 'flour', 'sugar...",0.755929
182773,scoop and bake dinner rolls,"['all-purpose flour', 'sugar', 'salt', 'fast r...",0.755929

The recipe you are looking for (79338) is:

,name,ingredients
132340,mean chef s chicken with marsala mushrooms an...,"['boneless skinless chicken breast', 'kosher s..."

the top 5 closest recipes are:

,name,ingredients,score
18575,basic vinaigrette with variations,"['garlic cloves', 'dijon mustard', 'white wine...",0.559017
98665,grilled chicken with radish salad,"['boneless chicken breasts', 'olive oil', 'lim...",0.527046
112639,italian grilled mushrooms,"['cremini mushroom', 'salt', 'pepper', 'garlic...",0.527046
188159,skillet rosemary chicken,"['red potatoes', 'kosher salt', 'fresh rosemar...",0.516398
218787,tuscan potatoes mint and garlic roasted potatoes,"['small red potato', 'garlic cloves', 'olive o...",0.516398

In [17]:
reco = getCBFRecommandation(16, 5, interactions_train[interactions_train['u']==16]['i'].values[:3],reduced_matrix)
reco

HBox(children=(IntProgress(value=0, max=3), HTML(value='')))

The recipe you are looking for (99787) is:

,name,ingredients
213826,to die for crock pot roast,"['beef roast', 'brown gravy mix', 'dried itali..."

the top 5 closest recipes are:

,name,ingredients,score
1289,3 pack pot roast,"['beef roast', 'brown gravy mix', 'italian sal...",1.000000
5748,another crock pot roast,"['beef roast', 'ranch dressing mix', 'liquid s...",1.000000
76000,easy company pot roast,"['beef roast', 'brown gravy mix', 'dried itali...",0.894377
112293,italian beef au jus,"['boneless beef roast', 'au jus mix', 'italian...",0.816292
213219,three packs and a roast,"['beef roast', 'ranch dressing mix', 'italian ...",0.750165

The recipe you are looking for (75726) is:

,name,ingredients
19756,beautiful burger buns,"['water', 'butter', 'egg', 'unbleached flour',..."

the top 5 closest recipes are:

,name,ingredients,score
2261,abm dinner rolls,"['water', 'eggs', 'butter', 'sugar', 'salt', '...",0.777826
67538,crusty cheddar bread,"['active dry yeast', 'water', 'cottage cheese'...",0.756062
72355,dinner rolls bread machine,"['egg', 'water', 'bread flour', 'butter', 'sal...",0.756062
106007,holiday dinner rolls bread machine,"['water', 'eggs', 'butter', 'salt', 'bread flo...",0.756062
169614,quincy s yeast rolls,"['water', 'butter', 'egg', 'bread flour', 'sug...",0.756062

The recipe you are looking for (79338) is:

,name,ingredients
132340,mean chef s chicken with marsala mushrooms an...,"['boneless skinless chicken breast', 'kosher s..."

the top 5 closest recipes are:

,name,ingredients,score
46530,chicken with pearl onion and cremini mushroom ...,"['boneless skinless chicken breasts', 'salt', ...",0.589481
98665,grilled chicken with radish salad,"['boneless chicken breasts', 'olive oil', 'lim...",0.575796
112639,italian grilled mushrooms,"['cremini mushroom', 'salt', 'pepper', 'garlic...",0.555284
181618,sauteed swiss chard,"['red swiss chard', 'lite olive oil', 'garlic ...",0.555169
188159,skillet rosemary chicken,"['red potatoes', 'kosher salt', 'fresh rosemar...",0.554538

In [20]:
reco = getCBFRecommandation(16, 5, interactions_train[interactions_train['u']==16]['i'].values,reduced_matrix)
reco

HBox(children=(IntProgress(value=0, max=82), HTML(value='')))

The recipe you are looking for (99787) is:

,name,ingredients
213826,to die for crock pot roast,"['beef roast', 'brown gravy mix', 'dried itali..."

the top 5 closest recipes are:

,name,ingredients,score
1289,3 pack pot roast,"['beef roast', 'brown gravy mix', 'italian sal...",1.000000
5748,another crock pot roast,"['beef roast', 'ranch dressing mix', 'liquid s...",1.000000
76000,easy company pot roast,"['beef roast', 'brown gravy mix', 'dried itali...",0.894377
112293,italian beef au jus,"['boneless beef roast', 'au jus mix', 'italian...",0.816292
213219,three packs and a roast,"['beef roast', 'ranch dressing mix', 'italian ...",0.750165

The recipe you are looking for (75726) is:

,name,ingredients
19756,beautiful burger buns,"['water', 'butter', 'egg', 'unbleached flour',..."

the top 5 closest recipes are:

,name,ingredients,score
2261,abm dinner rolls,"['water', 'eggs', 'butter', 'sugar', 'salt', '...",0.777826
67538,crusty cheddar bread,"['active dry yeast', 'water', 'cottage cheese'...",0.756062
72355,dinner rolls bread machine,"['egg', 'water', 'bread flour', 'butter', 'sal...",0.756062
106007,holiday dinner rolls bread machine,"['water', 'eggs', 'butter', 'salt', 'bread flo...",0.756062
169614,quincy s yeast rolls,"['water', 'butter', 'egg', 'bread flour', 'sug...",0.756062

The recipe you are looking for (79338) is:

,name,ingredients
132340,mean chef s chicken with marsala mushrooms an...,"['boneless skinless chicken breast', 'kosher s..."

the top 5 closest recipes are:

,name,ingredients,score
46530,chicken with pearl onion and cremini mushroom ...,"['boneless skinless chicken breasts', 'salt', ...",0.589481
98665,grilled chicken with radish salad,"['boneless chicken breasts', 'olive oil', 'lim...",0.575796
112639,italian grilled mushrooms,"['cremini mushroom', 'salt', 'pepper', 'garlic...",0.555284
181618,sauteed swiss chard,"['red swiss chard', 'lite olive oil', 'garlic ...",0.555169
188159,skillet rosemary chicken,"['red potatoes', 'kosher salt', 'fresh rosemar...",0.554538

The recipe you are looking for (11102) is:

             name                                        ingredients
2521  adam s ribs  ['country-style pork ribs', 'dr. pepper cola',...

the top 5 closest recipes are:

,name,ingredients,score
21117,beer n bbq braised country style pork ribs,"['country-style boneless pork ribs', 'onions',...",1.000000
59221,country style barbecued ribs ala joanne,"['country-style pork ribs', 'onion', 'lemon', ...",0.802527
74443,easiest tastiest barbecue country style ribs ...,"['country-style pork ribs', 'barbecue sauce', ...",0.670798
124448,linda s country style ribs,"['country-style pork ribs', 'dr. pepper cola',...",0.670740
190822,soda pop ribs,"['country-style pork ribs', 'garlic cloves', '...",0.670632

The recipe you are looking for (41410) is:

,name,ingredients
172208,red onion dip relish,"['red onion', 'balsamic vinegar', 'honey', 'ol..."

the top 5 closest recipes are:

,name,ingredients,score
15832,balsamic honey tenderloin,"['honey', 'grainy mustard', 'balsamic vinegar'...",0.671158
97079,green bean and hazelnut salad,"['hazelnuts', 'green beans', 'grainy mustard',...",0.668603
175195,roasted brussel sprouts,"['brussels sprouts', 'olive oil', 'red onions'...",0.632358
197522,spinach and roasted red pepper salad with hone...,"['fresh spinach leaves', 'roasted red peppers'...",0.632243
227593,wilted dandelion salad with feta cheese,"['bacon', 'balsamic vinegar', 'honey dijon mus...",0.631198

The recipe you are looking for (173024) is:

,name,ingredients
108774,hot chipotle chicken wings,"['chicken wings', 'vegetable oil', 'garlic pow..."

the top 5 closest recipes are:

,name,ingredients,score
5733,another buffalo wings recipe,"['chicken wings', 'salt and pepper', 'vegetabl...",0.612351
83549,fiery kickoff wings,"['mccormick grill mates zesty herb marinade', ...",0.573242
105582,hidden valley oyster crackers,"['oyster crackers', 'hidden valley ranch dip',...",0.544119
205325,sweet and gooey chicken wings,"['soy sauce', 'brown sugar', 'vegetable oil', ...",0.500355
212862,thermonuclear chicken wings,"['chicken wings', 'vegetable oil', 'garlic pow...",0.500031

The recipe you are looking for (92547) is:

,name,ingredients
89936,garlic and oregano stove top chicken,"['garlic clove', 'salt', 'butter', 'dried oreg..."

the top 5 closest recipes are:

,name,ingredients,score
45655,chicken scampi,"['butter', 'olive oil', 'dried parsley', 'drie...",0.755951
71028,delicious one serving chicken breast,"['boneless skinless chicken breast', 'cavender...",0.755673
100122,grilled tomato sauce with garlic,"['tomatoes', 'olive oil', 'dried oregano', 'ga...",0.676186
108679,hot buttered garlic noodles,"['butter', 'salt', 'egg noodles', 'garlic clov...",0.676134
181468,sauteed early winter greens,"['butter', 'olive oil', 'garlic cloves', 'turn...",0.673208

The recipe you are looking for (23635) is:

                       name                                        ingredients
106306  homemade applesauce  ['apples', 'lemon', 'cinnamon sticks', 'water'...

the top 5 closest recipes are:

,name,ingredients,score
69548,danish cherry soup kirsebrsuppe,"['tart cherries', 'water', 'cinnamon stick', '...",0.799297
84236,first presbyterian iced tea,"['sugar', 'lemons', 'loose tea', 'water']",0.774897
124353,limoncello lemoncella,"['lemons', '100 proof vodka', 'sugar', 'water']",0.774607
147282,old fashioned lemon verbena lemonade syrup,"['water', 'sugar', 'lemons', 'lemon verbena le...",0.774251
205095,swedish tea,"['tea leaves', 'water', 'sugar', 'lemon']",0.773102

The recipe you are looking for (22032) is:

,name,ingredients
187220,simple saute scallops,"['scallops', 'olive oil', 'garlic', 'shallot',..."

the top 5 closest recipes are:

,name,ingredients,score
27975,brazilian collard greens,"['collard greens', 'olive oil', 'butter', 'sha...",0.601371
100119,grilled tomato marinade,"['garlic', 'shallot', 'olive oil', 'raspberry ...",0.599969
135021,microwave roasted potato wedges,"['olive oil', 'garlic', 'salt', 'paprika', 'br...",0.599258
181501,sauteed greens,"['olive oil', 'garlic', 'shallots', 'leafy gre...",0.565525
182546,scallops with mushrooms,"['scallops', 'milk', 'flour', 'butter', 'lite ...",0.548347

The recipe you are looking for (114868) is:

                name                                        ingredients
137769  mojo walleye  ['walleyed pike fillet', 'lemon juice', 'salt'...

the top 5 closest recipes are:

,name,ingredients,score
141683,my favorite cajun or blackening spice,"['salt', 'sugar', 'paprika', 'onion powder', '...",0.620160
157861,peppered t bone steaks,"['beef t-bone steaks', 'steak sauce', 'fresh t...",0.596087
174123,rick s steak seasoning ii,"['cayenne pepper', 'black pepper', 'chili powd...",0.595391
215561,top secret recipes version of fritos hot bean ...,"['pinto beans', 'canned jalapeno slices', 'jal...",0.589053
226493,white knight rub,"['onion powder', 'white pepper', 'salt', 'garl...",0.555366

The recipe you are looking for (73956) is:

,name,ingredients
172749,reeses squares 5 ingredients no bake reese s,"['graham cracker crumbs', ""confectioners' suga..."

the top 5 closest recipes are:

,name,ingredients,score
51354,chocolate peanut sweeties,"['peanut butter', 'butter', ""confectioners' su...",0.799924
71011,delicious microwave peanut butter fudge,"['butter', 'peanut butter', ""confectioners' su...",0.799623
77512,easy peanut butter graham balls,"['peanut butter', 'butter', ""confectioners' su...",0.730315
155777,peanut butter bars taste like reese s cups,"['powdered sugar', 'butter', 'peanut butter', ...",0.671265
172735,reese s peanut butter cups copycat,"['salt', 'peanut butter', ""confectioners' suga...",0.670757

The recipe you are looking for (114273) is:

                  name                                        ingredients
126146  low carb pizza  ['cream cheese', 'eggs', 'heavy cream', 'parme...

the top 5 closest recipes are:

,name,ingredients,score
14819,baked pizza dip,"['cream cheese', 'italian seasoning', 'mozzare...",0.825150
40624,cheesy pizza dip,"['pizza sauce', 'cream cheese', 'mozzarella ch...",0.706872
70417,deep dish pizza quiche,"['cream cheese', 'eggs', 'heavy cream', 'parme...",0.681356
144231,no dough pizza low carb cream cheese pizza crust,"['cream cheese', 'eggs', 'italian seasoning', ...",0.680360
161140,pizza fondue fundido,"['pizza sauce', 'italian seasoning', 'garlic',...",0.668311

The recipe you are looking for (41427) is:

                      name                                        ingredients
8787  artichoke bruschetta  ['marinated artichoke hearts', 'tomatoes', 'ro...

the top 5 closest recipes are:

,name,ingredients,score
5479,angel s tomato cucumber salad,"['tomatoes', 'cucumber', 'red onion', 'fat-fre...",0.801720
8718,artichoke spinach bruschetta,"['marinated artichoke hearts', 'romano cheese'...",0.571616
133303,mediterranean style tuna and olive sandwich,"['french baguette', 'olive oil', 'salt & fresh...",0.545654
151871,pampered chef spinach artichoke dip,"['marinated artichoke hearts', 'frozen creamed...",0.507962
208872,tasty avocado salsa,"['avocado', 'tomatoes', 'red onion', 'garlic c...",0.507250

The recipe you are looking for (156978) is:

,name,ingredients
30761,brussels sprouts in garlic butter,"['brussels sprouts', 'butter', 'olive oil', 'g..."

the top 5 closest recipes are:

,name,ingredients,score
9842,asparagus parmesan,"['butter', 'olive oil', 'asparagus spear', 'pa...",0.771576
78200,easy stir fried zucchini and garlic,"['zucchini', 'garlic', 'olive oil', 'butter', ...",0.771505
90244,garlic green beans,"['green beans', 'garlic', 'olive oil', 'butter...",0.730429
90631,garlic spaghetti sauce,"['garlic', 'butter', 'extra virgin olive oil',...",0.730376
184611,shaved brussel sprouts,"['olive oil', 'brussels sprouts', 'crushed red...",0.730344

The recipe you are looking for (106867) is:

                       name                                        ingredients
199297  steak wine marinade  ['vegetable oil', 'red wine', 'lemon juice', '...

the top 5 closest recipes are:

,name,ingredients,score
96455,greek grouper,"['grouper', 'garlic', 'olive oil', 'lemon juic...",0.624251
111530,instant pickled cucumbers,"['pickling cucumbers', 'balsamic vinegar', 'sa...",0.597622
121045,lemon barbecue chicken,"['salt', 'pepper', 'garlic', 'vegetable oil', ...",0.597612
175199,roasted brussels sprouts and garlic,"['fresh brussels sprouts', 'garlic', 'fresh th...",0.559382
206050,sweet italian house dressing,"['balsamic vinegar', 'garlic', 'sugar', 'orega...",0.559056

The recipe you are looking for (82121) is:

,name,ingredients
213208,three not so blind mice,"['maraschino cherries', 'miniature chocolate c..."

the top 5 closest recipes are:

,name,ingredients,score
11998,baby pacifiers shower favors,"['lifesavers candies', 'jelly beans', 'icing',...",0.504823
50125,chocolate christmas mice or anytime mice,"['cherries', 'hershey chocolate kiss', 'semi-s...",0.468882
52720,christmas mice,"['maraschino cherries', 'oreo cookies', 'hersh...",0.417590
77261,easy no bake mice cookies,"['oreo cookies', 'maraschino cherries', 'semi-...",0.405623
172905,reindeer cookies,"['chocolate', 'cookies', 'pretzels', 'jelly be...",0.403734

The recipe you are looking for (136789) is:

,name,ingredients
132024,master brine recipe for meats,"['garlic', 'water', 'kosher salt', 'black pepp..."

the top 5 closest recipes are:

,name,ingredients,score
18194,basic all purpose brine for meats chicken an...,"['black peppercorns', 'fresh thyme', 'bay leav...",0.668662
53209,cider roasted chicken,"['water', 'apple cider', 'kosher salt', 'black...",0.631482
158675,persian sugar pickled garlic,"['garlic', 'dried hot peppers', 'sugar', 'red ...",0.624742
159421,pickled greens,"['mustard greens', 'water', 'sugar', 'vinegar'...",0.589159
184413,shaker brined pork roast,"['water', 'kosher salt', 'sugar', 'bay leaves'...",0.577630

The recipe you are looking for (47837) is:

                     name                                        ingredients
70297  decked out burgers  ['cheddar cheese', 'mushrooms', 'mayonnaise', ...

the top 5 closest recipes are:

,name,ingredients,score
12429,bacon cheddar stuffed burgers,"['ground beef', 'salt', 'pepper', 'garlic powd...",0.753735
12450,bacon cheeseburger stove top casserole,"['pasta', 'lean ground beef', 'bacon', 'onions...",0.681754
39745,cheeseburger and fries casserole,"['lean ground beef', 'onion', 'salt', 'pepper'...",0.639676
82810,favorite deviled eggs,"['hard-boiled eggs', 'bacon', 'mayonnaise', 'o...",0.639676
100359,ground beef supreme yumminess,"['cheddar cheese', 'mayonnaise', 'bacon', 'oli...",0.639649

The recipe you are looking for (168258) is:

              name                                        ingredients
136402  mini tacos  ['wonton wrappers', 'hamburger', 'taco seasoni...

the top 5 closest recipes are:

,name,ingredients,score
76930,easy layered dip,"['black bean dip', 'guacamole', 'sour cream', ...",0.668317
117697,killer enchiladas,"['veggie crumbles', 'black beans', 'rotel dice...",0.624371
179405,salsa cakes,"['rice cakes', 'salsa', 'fat free cheese', 'fa...",0.612417
211738,the best taco pie ever,"['ground beef', 'doritos', 'taco seasoning', '...",0.588483
228150,working mom s layered nachos,"['ground turkey breast', 'taco seasoning', 'wa...",0.577988

The recipe you are looking for (112962) is:

,name,ingredients
142161,my onion fried chicken,"['chicken', 'french-fried onions', 'dried brea..."

the top 5 closest recipes are:

,name,ingredients,score
78101,easy southern oven fried chicken,"['chicken', 'buttermilk', 'oil', 'dried breadc...",0.577392
138393,mom s marvellous macaroni,"['elbow macaroni', 'cottage cheese', 'sour cre...",0.547931
168521,quick and light chicken paprikash,"['onion', 'cooked chicken breasts', 'fat free ...",0.547893
195385,spicy buttermilk grilled chicken,"['buttermilk', 'hot pepper sauce', 'paprika', ...",0.516551
222929,veronica s hungarian chicken paprikash paprikas,"['chicken', 'salt', 'garlic', 'olive oil', 'on...",0.500188

The recipe you are looking for (25279) is:

,name,ingredients
15389,baked texas jalapeo peppers,"['jalapeno peppers', 'cream cheese', 'cheddar ..."

the top 5 closest recipes are:

,name,ingredients,score
12502,bacon cream cheese breadsticks,"['breadsticks', 'cream cheese', 'cheddar chees...",0.800059
12693,bacon wrapped cajun jalapenos,"['jalapeno peppers', 'cream cheese', 'cheddar ...",0.800049
14454,baked jalapenos,"['jalapeno peppers', 'worcestershire sauce', '...",0.773060
219759,unbreaded jalapeno poppers with double cheese,"['fresh jalapeno peppers', 'cream cheese', 'ch...",0.680426
230752,zippy rarebit spread,"['sharp cheddar cheese', 'light cream cheese',...",0.671061

The recipe you are looking for (87432) is:

,name,ingredients
69487,dani s awesome twiced baked potatoes,"['baking potatoes', 'olive oil', 'cream cheese..."

the top 5 closest recipes are:

,name,ingredients,score
68346,curried cheese bacon chicken,"['chicken breasts', 'olive oil', 'cream cheese...",0.703527
70871,delicious do ahead mashed potato casserole,"['baking potatoes', 'cream cheese', 'sour crea...",0.683773
125199,loaded baked potato salad,"['baking potatoes', 'extra virgin olive oil', ...",0.683763
153320,party mashed potatoes,"['baking potatoes', 'cream cheese', 'sour crea...",0.683761
181981,savory potato skins,"['baking potatoes', 'butter', 'salt', 'garlic ...",0.639629

The recipe you are looking for (142326) is:

,name,ingredients
124664,linguine with clam sauce,"['olive oil', 'onion', 'garlic', 'clams', 'dri..."

the top 5 closest recipes are:

,name,ingredients,score
11725,awesomely easy marinara sauce,"['tomato sauce', 'onion', 'garlic', 'dried bas...",0.669366
75240,easy braised pork chops,"['pork chops', 'olive oil', 'onions', 'garlic'...",0.667620
90321,garlic linguine,"['linguine', 'olive oil', 'garlic', 'red peppe...",0.636534
124781,linguini with clam sauce ala giro s,"['olive oil', 'butter', 'garlic', 'onion', 'sa...",0.615646
193459,spaghetti sauce ww core,"['olive oil', 'onion', 'mushroom', 'dried pars...",0.615614

The recipe you are looking for (6361) is:

,name,ingredients
142828,nat s cucumber cream cheese bagel,"['bagel', 'cream cheese', 'english cucumbers',..."

the top 5 closest recipes are:

,name,ingredients,score
12501,bacon cream cheese bagel sandwich,"['bagel', 'cream cheese', 'blueberry preserves...",0.553434
25629,blue on blue potatoes,"['blue potatoes', 'butter', 'dried lavender', ...",0.548736
28395,breakfast bagel with tomato basil and red onion,"['bagels', 'cream cheese', 'red onion', 'fresh...",0.547408
49023,chive alfalfa spread,"['cream cheese', 'chives', 'french mustard', '...",0.516805
139642,morocco meets greece chickpea cucumber salad ...,"['english cucumber', 'feta cheese', 'dried dil...",0.516109

The recipe you are looking for (47680) is:

,name,ingredients
132388,mean guy s general tso s chicken,"['chicken thigh', 'eggs', 'cornstarch', 'dried..."

the top 5 closest recipes are:

,name,ingredients,score
48217,chinese baked chicken,"['boneless chicken thighs', 'soy sauce', 'suga...",0.857542
113488,izakaya sakura teriyaki chicken,"['chicken thighs', 'sake', 'soy sauce', 'rice ...",0.676400
125613,lotus root with umeboshi plum sauce,"['fresh lotus root', 'rice vinegar', 'umeboshi...",0.675961
144832,nona s soy sauce eggs ramen eggs,"['eggs', 'rice vinegar', 'soy sauce', 'sugar',...",0.675441
216627,trisha s easy general tso s chicken,"['boneless skinless chicken breast', 'eggs', '...",0.653983

The recipe you are looking for (117146) is:

,name,ingredients
162867,pork and vegetable lo mein easy and delicious,"['olive oil', 'spaghetti', 'pork tenderloin', ..."

the top 5 closest recipes are:

,name,ingredients,score
33728,cajun shark,"['shark', 'olive oil', 'garlic clove', 'soy sa...",0.631550
37747,cauliflower fried rice paleo,"['raw cauliflower', 'frozen peas', 'carrot', '...",0.596877
48580,chinese spaghetti,"['spaghetti', 'extra virgin olive oil', 'mushr...",0.596516
87532,fried cabbage and carrots,"['cabbage', 'carrots', 'olive oil', 'soy sauce']",0.564833
231392,zucchini stir fry,"['zucchini', 'carrots', 'onion', 'garlic clove...",0.564509

The recipe you are looking for (115281) is:

,name,ingredients
121101,lemon blackberry muffins,"['lemon', 'milk', 'vanilla', 'unsalted butter'..."

the top 5 closest recipes are:

,name,ingredients,score
17103,banana walnut bread,"['milk', 'unsalted butter', 'eggs', 'vanilla',...",0.818285
22600,best ever sugar cookies,"['unsalted butter', 'sugar', 'egg', 'vanilla',...",0.804125
94994,grandma kay s vanilla cookies,"['all-purpose flour', 'baking powder', 'salt',...",0.797821
202621,sugar cookies no break fail safe and foolproof,"['unsalted butter', 'sugar', 'eggs', 'vanilla'...",0.797821
220704,vanilla sugar cookies,"['all-purpose flour', 'baking powder', 'salt',...",0.797821

The recipe you are looking for (61366) is:

,name,ingredients
190737,so it s bekah s pulled pork now,"['pork butt', 'black pepper', 'paprika', 'turb..."

the top 5 closest recipes are:

,name,ingredients,score
74581,eastern north carolina basic barbecue sauce,"['apple cider vinegar', 'hot red peppers', 'sa...",0.462174
87342,fresh tomato and garlic pasta sauce,"['plum tomatoes', 'unsalted butter', 'garlic',...",0.456942
106701,homemade mild italian sausage,"['pork butt', 'garlic', 'paprika', 'fennel see...",0.456793
181588,sauteed snapper with plum tomatoes and spinach,"['olive oil', 'red snapper fillets', 'salt', '...",0.446629
196775,spicy smoked prime rib,"['prime rib roast', 'paprika', 'salt', 'onion ...",0.431026

The recipe you are looking for (106202) is:

,name,ingredients
90509,garlic ricotta stuffed mushrooms,"['white mushrooms', 'garlic cloves', 'part-ski..."

the top 5 closest recipes are:

,name,ingredients,score
1073,2 points plus broccoli rabe with garlic and ...,"['broccoli rabe', 'olive oil', 'garlic cloves'...",0.770591
18524,basic steamed kale,"['fresh kale', 'garlic clove', 'salt', 'cracke...",0.677196
29767,broccolini sauted with olive oil and garlic,"['broccolini', 'olive oil', 'garlic cloves', '...",0.670997
90409,garlic parmesan croutons,"['olive oil', 'garlic cloves', 'salt', 'parmes...",0.654404
199161,steak caesar salad,"['top sirloin steaks', 'garlic cloves', 'olive...",0.654020

The recipe you are looking for (139339) is:

                      name                                        ingredients
44228  chicken for chering  ['boneless skinless chicken breasts', 'frozen ...

the top 5 closest recipes are:

,name,ingredients,score
43821,chicken cooked in foil,"['boneless skinless chicken breasts', 'olive o...",0.539439
66388,crock pot shredded chicken breasts for freezin...,"['chicken breasts', 'water', 'salt', 'pepper',...",0.539434
76084,easy creamed spinach,"['heavy cream', 'frozen chopped spinach', 'sal...",0.539418
189218,slow roasted smoked pork shoulder,"['smoked pork shoulder', 'salt', 'pepper', 'ga...",0.533064
208912,tasty chicken,"['boneless skinless chicken breasts', 'butter'...",0.522244

The recipe you are looking for (68651) is:

,name,ingredients
47857,chili s spicy garlic lime shrimp,"['butter', 'garlic', 'large shrimp', 'lime', '..."

the top 5 closest recipes are:

,name,ingredients,score
24996,blackened spicy snapper fillets,"['paprika', 'cayenne pepper', 'ground black pe...",0.731011
84186,firecracker halibut,"['paprika', 'dried oregano', 'dried thyme', 'o...",0.696482
195412,spicy cajun popcorn,"['butter', 'popped popcorn', 'paprika', 'onion...",0.654947
195763,spicy creole shrimp,"['paprika', 'pepper', 'salt', 'garlic powder',...",0.640542
195990,spicy halibut,"['paprika', 'dried oregano', 'dried thyme', 'o...",0.639640

The recipe you are looking for (94118) is:

,name,ingredients
179468,salsa mexicana fresh tomato and chiles,"['tomatoes', 'jalapenos', 'white onions', 'gar..."

the top 5 closest recipes are:

,name,ingredients,score
22568,best ever restaurant salsa,"['tomatoes', 'white onion', 'cilantro', 'serra...",0.771519
90163,garlic cilantro salsa,"['garlic cloves', 'cilantro', 'jalapenos', 'to...",0.756037
134102,mexican chickpea salad,"['jalapeno', 'olive oil', 'garlic clove', 'chi...",0.755952
171722,really good guacamole,"['avocados', 'garlic cloves', 'salt', 'lime ju...",0.755936
177050,rosa mexicano s guacamole,"['white onion', 'cilantro', 'jalapeno', 'avoca...",0.717161

The recipe you are looking for (155731) is:

,name,ingredients
206251,sweet pickled banana peppers,"['banana pepper', 'white vinegar', 'white suga..."

the top 5 closest recipes are:

,name,ingredients,score
28040,bread butter peppers,"['banana peppers', 'green peppers', 'jalapeno ...",0.744887
28265,bread and butter pickles my way,"['pickling cucumbers', 'onions', 'pickling sal...",0.619609
80006,eleanor s green tomato pickle,"['green tomatoes', 'onions', 'green bell peppe...",0.569181
115390,joe s sweet pickled banana peppers,"['banana pepper', 'white vinegar', 'white suga...",0.567373
137071,mixed pickled veggies,"['carrots', 'cauliflower', 'pickling cucumbers...",0.563761

The recipe you are looking for (8524) is:

,name,ingredients
27400,bow ties with sausage tomato and cream,"['bow tie pasta', 'olive oil', 'polska kielbas..."

the top 5 closest recipes are:

,name,ingredients,score
27362,bow tie pasta with pink cream sauce,"['bacon', 'red pepper flakes', 'diced onion', ...",0.632644
27397,bow ties with sausage,"['olive oil', 'sweet italian sausage', 'red pe...",0.632207
130758,marinara sauce ww 2 pointsplus,"['garlic cloves', 'olive oil', 'plum tomatoes'...",0.595968
189390,slow roasted tomato quarters,"['olive oil', 'garlic cloves', 'plum tomatoes'...",0.595896
196559,spicy red pasta sauce,"['olive oil', 'garlic cloves', 'red pepper fla...",0.595828

The recipe you are looking for (120710) is:

,name,ingredients
142827,nat s always requested garlic butter,"['salted butter', 'dried parsley', 'fresh grou..."

the top 5 closest recipes are:

,name,ingredients,score
86619,fresh cream salad dressing for new salad greens,"['fresh cream', 'sugar', 'vinegar', 'salt', 'f...",0.598062
127761,ma nl jang ah jji pickled garlic in soy sauce,"['garlic', 'soy sauce', 'sugar', 'rice vinegar...",0.577474
139711,mostaccioli with roasted tomato feta and ga...,"['olive oil', 'roma tomatoes', 'salt', 'sugar'...",0.576988
187354,simple summer chicken,"['lime juice', 'extra virgin olive oil', 'ging...",0.576966
230330,zenzai dango in azuki,"['azuki beans', 'sugar', 'salt', 'mochiko swee...",0.547870

The recipe you are looking for (86843) is:

,name,ingredients
216092,traditional deviled eggs,"['hard-boiled eggs', 'mayonnaise', 'prepared m..."

the top 5 closest recipes are:

,name,ingredients,score
72194,dill icious deviled eggs,"['hard-boiled eggs', 'light mayonnaise', 'must...",0.857164
141589,my deviled eggs yummy,"['eggs', 'mayonnaise', 'mustard', 'white vineg...",0.801783
205120,sweet sour deviled eggs,"['hard-boiled eggs', 'mayonnaise', 'sugar', 'c...",0.770822
206980,sweet n sour deviled eggs d v o,"['hard-boiled eggs', 'mayonnaise', 'sugar', 'c...",0.763814
211430,the best creamy potato salad,"['boiled potatoes', 'hard-boiled eggs', 'mayon...",0.755926

The recipe you are looking for (98153) is:

,name,ingredients
131557,marvelous marinated london broil,"['honey', 'vegetable oil', 'worcestershire sau..."

the top 5 closest recipes are:

,name,ingredients,score
20369,beef jerky 1,"['flank steaks', 'soy sauce', 'onion powder', ...",0.632506
117210,key west chicken,"['soy sauce', 'honey', 'vegetable oil', 'lime ...",0.632493
186953,simple honey garlic ribs,"['rack of ribs', 'soy sauce', 'honey', 'garlic']",0.632437
193181,soy ginger flank steak with garlic,"['soy sauce', 'honey', 'garlic', 'gingerroot',...",0.612392
199220,steak marinade quick and easy,"['soy sauce', 'worcestershire sauce', 'garlic'...",0.577403

The recipe you are looking for (125155) is:

,name,ingredients
98944,grilled garlic shrimp,"['shrimp', 'garlic cloves', 'salt', 'worcester..."

the top 5 closest recipes are:

,name,ingredients,score
115382,joe s shrimp scampi,"['shrimp', 'onion', 'garlic cloves', 'butter',...",0.661532
131519,martin and joy schlessingers bar b qued shrimp,"['shrimp', 'worcestershire sauce', 'pepper', '...",0.629735
165311,potatoes puree aligot,"['potatoes', 'heavy cream', 'salt', 'pepper', ...",0.625111
181468,sauteed early winter greens,"['butter', 'olive oil', 'garlic cloves', 'turn...",0.625064
204635,supper club shrimp de jonghe for 2 or 3,"['shrimp', 'dried breadcrumbs', 'salt', 'peppe...",0.625057

The recipe you are looking for (160999) is:

,name,ingredients
45304,chicken pot pie with 2 crusts,"['margarine', 'flour', 'onion', 'salt', 'peppe..."

the top 5 closest recipes are:

,name,ingredients,score
18290,basic chicken pot pie,"['onion', 'flour', 'margarine', 'mixed vegetab...",0.900128
47006,chicken turkey pot pie,"['refrigerated pie crusts', 'margarine', 'onio...",0.821764
54884,classic pot pie,"['refrigerated pie crusts', 'margarine', 'onio...",0.800245
135231,microwave scalloped potatoes,"['margarine', 'flour', 'milk', 'salt', 'pepper...",0.782740
147757,one and only chicken pot pie,"['butter', 'onions', 'pepper', 'chicken broth'...",0.717218

The recipe you are looking for (172161) is:

,name,ingredients
11998,baby pacifiers shower favors,"['lifesavers candies', 'jelly beans', 'icing',..."

the top 5 closest recipes are:

,name,ingredients,score
88247,frosty the cupcake,"['cupcake', 'icing', 'marshmallows', 'pretzel ...",0.989964
149936,oreo turkeys thanksgiving snack,"['oreo double stuff cookies', 'malted milk bal...",0.775574
162543,popcorn cupcakes so cute,"['cupcake', 'icing', 'mini marshmallows', 'yel...",0.703252
191119,sombrero cookies,"['sugar cookie', 'icing', 'multicolored sugar ...",0.620847
218015,turkey cupcakes,"['cupcakes', 'milk chocolate frosting', 'short...",0.596640

The recipe you are looking for (4048) is:

               name                                        ingredients
214132  toffee bars  ['brown sugar', 'butter', 'flour', 'egg yolk',...

the top 5 closest recipes are:

,name,ingredients,score
103,turtle squares,"['flour', 'brown sugar', 'butter', 'pecans', '...",0.845157
4063,almost heath bars,"['egg yolk', 'vanilla', 'brown sugar', 'butter...",0.800713
35458,caramel chocolate pecan bars,"['flour', 'brown sugar', 'butter', 'pecan halv...",0.800065
218654,turtle bars,"['flour', 'brown sugar', 'butter', 'pecan halv...",0.800065
219089,twix like bars,"['flour', 'brown sugar', 'butter', 'caramel ic...",0.800014

The recipe you are looking for (169418) is:

                      name                                        ingredients
191770  sour cream softies  ['all-purpose flour', 'salt', 'baking powder',...

the top 5 closest recipes are:

,name,ingredients,score
17253,banana sour cream bars,"['butter', 'sugar', 'eggs', 'sour cream', 'ban...",0.894580
53829,cinnamon orange swirl bread,"['butter flavor crisco', 'sugar', 'eggs', 'sou...",0.858281
78091,easy sour cream biscotti,"['butter', 'sugar', 'eggs', 'vanilla extract',...",0.858275
114332,janet s chocolate chip coffee cake,"['all-purpose flour', 'baking powder', 'baking...",0.858272
114606,jason s sugar cookies,"['all-purpose flour', 'baking powder', 'baking...",0.843430

The recipe you are looking for (120534) is:

              name                                        ingredients
40589  cheesy orzo  ['extra virgin olive oil', 'onion', 'garlic cl...

the top 5 closest recipes are:

,name,ingredients,score
27629,braised kale with black beans and tomatoes,"['kale', 'extra virgin olive oil', 'onion', 'p...",0.737253
42286,chicken orzo,"['olive oil', 'onion', 'garlic cloves', 'dried...",0.720433
105128,herbed garlic lentils,"['dried lentils', 'reduced-sodium fat-free chi...",0.719790
173798,rice with garlic and pasta,"['jasmine rice', 'orzo pasta', 'olive oil', 'g...",0.679150
198258,spinach mushroom orzo with toasted walnuts,"['walnuts', 'olive oil', 'onion', 'garlic clov...",0.666062

The recipe you are looking for (44551) is:

,name,ingredients
215887,tortured chicken beer can,"['chicken', 'beer', 'paprika', 'salt', 'black ..."

the top 5 closest recipes are:

,name,ingredients,score
27950,brazilian beer chicken,"['beer', 'vegetable oil', 'dijon-style mustard...",0.666659
46222,chicken wings in cerveza,"['chicken', 'salt', 'dried thyme', 'black pepp...",0.666649
150836,oven fried chicken nuggets,"['boneless skinless chicken', 'corn flakes', '...",0.645490
188795,slow cooker beer chicken,"['chicken', 'beer', 'salt', 'garlic powder', '...",0.617252
207423,sylvia s southern fried chicken,"['chicken', 'salt', 'black pepper', 'garlic po...",0.617226

The recipe you are looking for (159297) is:

,name,ingredients
179882,sandi s black pepper cube steaks mushroom cr...,"['cube steaks', 'cracked black pepper', 'koshe..."

the top 5 closest recipes are:

,name,ingredients,score
60060,cracked black pepper crusted filet medallions ...,"['beef tenderloin steaks', 'cracked black pepp...",0.818411
93855,golden garlic mashed potatoes,"['yukon gold potatoes', 'garlic clove', 'koshe...",0.572493
102358,haricots verts with shallots,"['butter', 'garlic clove', 'shallot', 'kosher ...",0.569961
181492,sauteed green beans,"['fresh green beans', 'garlic cloves', 'unsalt...",0.539531
183166,sea scallops with spinach and oranges,"['scallops', 'baby spinach', 'navel oranges', ...",0.537834

The recipe you are looking for (193) is:

,name,ingredients
70638,deli rotisserie chicken,"['roasting chickens', 'salt', 'black pepper', ..."

the top 5 closest recipes are:

,name,ingredients,score
76762,easy homemade taco seasoning,"['chili powder', 'onion powder', 'ground cumin...",0.782479
163192,pork chops with carolina rub,"['garlic powder', 'onion powder', 'sugar', 'pa...",0.781627
174123,rick s steak seasoning ii,"['cayenne pepper', 'black pepper', 'chili powd...",0.737925
175803,roasted nugget potatoes,"['small white potatoes', 'olive oil', 'paprika...",0.717202
205162,sweet savory tailgating rub,"['dark brown sugar', 'paprika', 'black pepper'...",0.717148

The recipe you are looking for (23680) is:

                  name                                        ingredients
89293  fudgy fudge pie  ['butter', 'flour', 'cocoa powder', 'sugar', '...

the top 5 closest recipes are:

,name,ingredients,score
5620,ann s shortbread,"['butter', 'flour', 'sugar', 'egg']",0.912864
32842,buttery pound cake,"['butter', 'sugar', 'eggs', 'flour']",0.894473
61334,cream cake with chocolate,"['flour', 'salt', 'eggs', 'sugar', 'butter', '...",0.894473
96883,greek travelling pie,"['butter', 'egg', 'flour', 'sugar']",0.894473
140093,mrs corbins butter cookies,"['butter', 'sugar', 'eggs', 'flour']",0.894473

The recipe you are looking for (44040) is:

,name,ingredients
172782,refreshing mojito by the pitcher mojitos,"['limes', 'of fresh mint', 'sugar', 'white rum..."

the top 5 closest recipes are:

,name,ingredients,score
18418,basic mojito ingredients,"['of fresh mint', 'sugar', 'lemon juice', 'lig...",0.801055
54403,citrus rum collins,"['lime', 'sugar', 'citrus-infused rum', 'ice',...",0.800914
67682,cuban mojito,"['lime', 'sugar', 'of fresh mint', 'light rum'...",0.799956
137722,mojito,"['light rum', 'lime', 'superfine sugar', 'club...",0.799853
188555,sloppy joe s mojito alcoholic beverage,"['lime', 'of fresh mint', 'sugar', 'white rum'...",0.730376

The recipe you are looking for (52916) is:

,name,ingredients
25889,blueberry cheese spread,"['fresh blueberries', 'cream cheese', 'milk', ..."

the top 5 closest recipes are:

,name,ingredients,score
25754,blueberry and cream cheese dutch baby,"['butter', 'eggs', 'salt', 'milk', 'all-purpos...",0.748709
26332,blueberry surprise french toast casserole,"['dry white bread', 'cream cheese', 'fresh blu...",0.702720
86705,fresh blueberries with lemon cream,"['reduced-fat cream cheese', 'low-fat vanilla ...",0.670865
97677,green grape salad with pecans,"['cream cheese', 'milk', 'honey', 'ground peca...",0.670843
200683,strawberry cereal shake,"['nonfat milk', 'frozen unsweetened strawberri...",0.666635

The recipe you are looking for (32484) is:

,name,ingredients
18003,barefoot contessa s outrageous oreo crunch bro...,"['butter', 'semi-sweet chocolate chips', 'unsw..."

the top 5 closest recipes are:

,name,ingredients,score
10320,aunt eileen s sauce pan brownies,"['butter', 'unsweetened chocolate', 'vanilla',...",1.000000
51804,chocolate toffee cookies,"['flour', 'sugar', 'baking powder', 'salt', 'u...",0.858656
70390,deep dark rich fudgy brownies,"['unsweetened chocolate', 'butter', 'sugar', '...",0.853184
89273,fudgy caramel cashew brownies,"['bittersweet chocolate', 'semi-sweet chocolat...",0.853182
149916,oreo outrageous brownies,"['butter', 'semi-sweet chocolate chips', 'unsw...",0.817234

The recipe you are looking for (4091) is:

,name,ingredients
210613,thai grilled chicken thighs,"['boneless skinless chicken thighs', 'fresh ba..."

the top 5 closest recipes are:

,name,ingredients,score
57885,coriander flank steak,"['coriander seed', 'flank steak', 'soy sauce',...",0.597753
165745,pregnant honey ginger chicken,"['soy sauce', 'honey', 'ginger', 'garlic', 'ch...",0.565842
185206,shoyu chicken,"['brown sugar', 'vinegar', 'soy sauce', 'ginge...",0.565802
209370,tender chinese broccoli gai lan,"['gai lan', 'garlic', 'soy sauce', 'brown suga...",0.565513
209713,teriyaki salmon,"['salmon fillets', 'soy sauce', 'brown sugar',...",0.559297

The recipe you are looking for (46289) is:

,name,ingredients
150312,orzo with parmesan and basil,"['butter', 'orzo pasta', 'chicken broth', 'par..."

the top 5 closest recipes are:

,name,ingredients,score
9900,asparagus soup in seconds,"['canned asparagus', 'chicken broth', 'half-an...",0.830857
14682,baked orzo and parmesan cheese,"['butter', 'green onions', 'garlic', 'orzo pas...",0.730332
18777,basil zucchini boats,"['zucchini', 'butter', 'fresh basil', 'parmesa...",0.730122
42080,chia s rice orzo,"['butter', 'olive oil', 'onion', 'basmati rice...",0.721685
152770,parmesan and basil orzo,"['orzo pasta', 'butter', 'chicken broth', 'par...",0.680642

The recipe you are looking for (46904) is:

,name,ingredients
175802,roasted new fingerling potatoes,"['new potatoes', 'olive oil', 'fresh thyme', '..."

the top 5 closest recipes are:

,name,ingredients,score
64982,crispy potato wedges with mustard,"['idaho potatoes', 'dijon mustard', 'extra vir...",0.666804
122188,lemon roasted new potatoes,"['new potatoes', 'olive oil', 'lemons', 'sugar...",0.666691
176481,roasted garlic herb spread,"['garlic', 'extra virgin olive oil', 'fresh th...",0.666650
183354,seared and roasted tomatoes,"['tomatoes', 'olive oil', 'sea salt', 'fresh t...",0.617264
214484,tom s brick chicken,"['rosemary', 'oregano', 'thyme', 'sea salt', '...",0.612404

The recipe you are looking for (143710) is:

,name,ingredients
135202,microwave poached eggs,"['egg', 'white vinegar', 'water', 'salt and pe..."

the top 5 closest recipes are:

,name,ingredients,score
72558,dizzy poached eggs,"['eggs', 'water', 'white vinegar', 'salt', 'sa...",0.894420
117574,kielbasa and eggs,"['kielbasa', 'eggs', 'water', 'salt and pepper']",0.756029
159404,pickled eggs and beets,"['eggs', 'beets', 'white vinegar', 'white suga...",0.750305
182984,scrambled eggs with sliced hot dogs,"['egg', 'water', 'hot dog', 'salt and pepper']",0.750128
199380,steamed basted fried eggs,"['eggs', 'vegetable oil cooking spray', 'water...",0.750034

The recipe you are looking for (93880) is:

,name,ingredients
117459,kid size garlic bread loaves,"['hot dog buns', 'butter', 'garlic powder', 'm..."

the top 5 closest recipes are:

,name,ingredients,score
75540,easy cheesy garlic bread,"['italian bread', 'butter', 'garlic powder', '...",0.617897
126101,low carb meat lover s pizza,"['butter', 'tomato sauce', 'italian sausage', ...",0.617862
139923,mozzarella cheese bread,"['french bread', 'garlic powder', 'onion powde...",0.617766
158007,pepperoni and mozzarella monkey bread,"['frozen bread dough', 'pepperoni', 'butter', ...",0.571082
161166,pizza bubble ring,"['butter', 'dried italian seasoning', 'garlic ...",0.567816

The recipe you are looking for (7) is:

                       name                                        ingredients
165178  potato crab chowder  ['butter', 'onion', 'garlic', 'potatoes', 'flo...

the top 5 closest recipes are:

,name,ingredients,score
33527,cajun corn chowder,"['butter', 'onion', 'flour', 'chicken broth', ...",0.647281
115668,judy s clam chowder,"['minced clams', 'onion', 'potatoes', 'bacon',...",0.640638
146917,old fashioned chicken casserole,"['flour', 'salt and pepper', 'butter', 'chicke...",0.590066
158154,peppery scalloped potatoes,"['cream of mushroom soup', 'milk', 'salt', 'ca...",0.588944
223068,very easy cheesy scalloped potatoes,"['potatoes', 'onions', 'butter', 'flour', 'sal...",0.588474

The recipe you are looking for (71578) is:

,name,ingredients
150848,oven fried eggplant aubergine,"['fat-free mayonnaise', 'onion', 'eggplant', '..."

the top 5 closest recipes are:

,name,ingredients,score
64661,crispy baked eggplant,"['eggplant', 'mayonnaise', 'dried onion flakes...",0.571591
64820,crispy eggplant,"['mayonnaise', 'onion', 'salt', 'seasoned stuf...",0.571557
113695,jalapeo and cheese topped eggplant,"['low-fat mayonnaise', 'pickled jalapeno peppe...",0.571506
124853,lipton no fuss pork chops,"['boneless pork chops', 'mayonnaise', 'parmesa...",0.571427
217267,tuna au gratin,"['tuna', 'onion', 'pimiento', 'fine dry breadc...",0.569811

The recipe you are looking for (147768) is:

,name,ingredients
100262,grilled vietnamese chicken,"['garlic cloves', 'fish sauce', 'molasses', 'l..."

the top 5 closest recipes are:

,name,ingredients,score
98480,grilled chicken mushrooms everyday italian,"['garlic cloves', 'lemon juice', 'extra virgin...",0.534841
121270,lemon chicken kabobs,"['olive oil', 'lemon juice', 'garlic cloves', ...",0.534771
168527,quick and simple grilled chicken,"['boneless skinless chicken breasts', 'extra v...",0.534711
185039,shish taouk chicken kebab recipe,"['chicken breast', 'garlic clove', 'salt', 'ci...",0.534684
207434,syrian chicken with rice,"['chicken breasts', 'oil', 'lemon juice', 'gar...",0.534678

The recipe you are looking for (43057) is:

,name,ingredients
125484,long john silver s fish batter,"['flour', 'cornstarch', 'baking soda', 'baking..."

the top 5 closest recipes are:

,name,ingredients,score
21159,beer batter for tempura,"['flour', 'cornstarch', 'baking powder', 'salt...",0.833357
64686,crispy batter,"['flour', 'cornstarch', 'baking powder', 'salt...",0.816505
142876,native biscuit bread,"['flour', 'salt', 'baking powder', 'water']",0.771542
209315,tempura batter,"['cornstarch', 'flour', 'baking powder', 'salt...",0.771523
229079,yeast free bread rolls,"['flour', 'baking powder', 'baking soda', 'sal...",0.730320

The recipe you are looking for (29112) is:

              name                                        ingredients
37026  carrot orzo  ['baby carrots', 'butter', 'orzo pasta', 'wate...

the top 5 closest recipes are:

,name,ingredients,score
14830,baked polenta with garlic,"['low sodium chicken broth', 'water', 'milk', ...",0.596411
89975,garlic and thyme glazed carrots,"['garlic clove', 'butter', 'thyme leaves', 'ba...",0.596350
90030,garlic bread spirals,"['butter', 'green onions', 'parmesan cheese', ...",0.596330
177282,rosemary parmesan french bread,"['butter', 'parmesan cheese', 'garlic clove', ...",0.596244
193433,spaghetti parmigiana,"['spaghetti', 'garlic clove', 'water', 'butter...",0.589386

The recipe you are looking for (87147) is:

,name,ingredients
89844,garlic lemon roast chicken thighs,"['garlic', 'fresh lemon juice', 'worcestershir..."

the top 5 closest recipes are:

,name,ingredients,score
90303,garlic lemon lamb sauce,"['oil', 'garlic', 'fresh lemon juice', 'salt']",0.745417
108344,horseradish and lemon new potatoes,"['new potatoes', 'white horseradish', 'fresh l...",0.670857
121617,lemon garlic chicken thighs low fat,"['fresh lemon juice', 'molasses', 'worcestersh...",0.619056
198954,standing rib roast in rock salt,"['prime rib roast', 'garlic', 'worcestershire ...",0.600043
230289,zankou chicken s lebanese garlic sauce copycat,"['russet potatoes', 'garlic', 'fresh lemon jui...",0.599543

The recipe you are looking for (72352) is:

,name,ingredients
32807,buttery farm biscuits,"['flour', 'baking powder', 'salt', 'unsalted b..."

the top 5 closest recipes are:

,name,ingredients,score
5930,any fruit fast fat free cobbler,"['white sugar', 'flour', 'skim milk', 'baking ...",0.790351
21145,beer batter bread,"['flour', 'baking powder', 'sugar', 'salt', 'b...",0.730490
44923,chicken noodle soup and dumplings,"['flour', 'skim milk', 'salt', 'baking powder'...",0.730482
76497,easy fruit cobbler with splenda,"['splenda granular', 'flour', 'skim milk', 'ba...",0.730342
127336,lower cal blackberry cobbler,"['frozen blackberries', 'splenda sugar substit...",0.730318

The recipe you are looking for (97409) is:

,name,ingredients
98228,grilled balsamic asparagus,"['fresh asparagus', 'balsamic vinegar', 'fresh..."

the top 5 closest recipes are:

,name,ingredients,score
122599,lemon grilled chicken breasts,"['fresh lemon juice', 'extra virgin olive oil'...",0.707143
131431,martha stewart steak marinade,"['soy sauce', 'extra virgin olive oil', 'fresh...",0.707136
131556,marvelous marinade for grilling,"['garlic cloves', 'balsamic vinegar', 'olive o...",0.668346
175334,roasted cherry tomatoes,"['cherry tomatoes', 'garlic cloves', 'olive oi...",0.668213
181371,sauteed baby tomatoes with arugula,"['grape tomatoes', 'extra virgin olive oil', '...",0.668198

The recipe you are looking for (15173) is:

,name,ingredients
141624,my family s favorite sloppy joes pizza joes,"['ground beef', 'celery', 'onion', 'tomato sau..."

the top 5 closest recipes are:

,name,ingredients,score
15217,baked spareribs aloha,"['pork spareribs', 'salt and pepper', 'onion',...",0.746220
22886,best western beans,"['ground beef', 'onion', 'baked beans', 'brown...",0.696337
66402,crock pot sloppy joes,"['hamburger', 'onion', 'celery', 'tomato sauce...",0.683935
224177,wang doodle,"['celery', 'onion', 'ground beef', 'dry mustar...",0.669007
229304,yip yips,"['ground beef', 'celery', 'onion', 'tomato sau...",0.667638

The recipe you are looking for (58669) is:

                     name                                        ingredients
130723  marinade for beef  ['vegetable oil', 'soy sauce', 'worcestershire...

the top 5 closest recipes are:

,name,ingredients,score
71073,delicious pork marinade,"['olive oil', 'low sodium soy sauce', 'worcest...",0.603143
130805,marinated beef oamc,"['beef', 'lemon juice', 'worcestershire sauce'...",0.589333
135008,mickey s marinated flank steak,"['vegetable oil', 'worcestershire sauce', 'sal...",0.555700
158433,perfect pork chop marinade,"['oil', 'soy sauce', 'worcestershire sauce', '...",0.555649
202478,succulent marinade,"['lemon juice', 'worcestershire sauce', 'veget...",0.544416

The recipe you are looking for (120013) is:

                      name                                        ingredients
37497  castle burger bites  ['refrigerated breadstick dough', 'egg', 'drie...

the top 5 closest recipes are:

,name,ingredients,score
17491,barbara s basic meatloaf,"['ground beef', 'egg', 'salt', 'pepper', 'onio...",0.750189
41812,chessie s tomato n onion meatloaf,"['ground beef', 'egg', 'diced tomatoes', ""fren...",0.699471
77653,easy pleasin meatballs,"['ground beef', 'dry breadcrumbs', 'egg', 'wor...",0.699363
133513,melt in your mouth meatloaf,"['eggs', 'milk', 'seasoned bread crumbs', 'dri...",0.699358
229605,your basic meatballs,"['ground beef', 'milk', 'breadcrumbs', 'salt',...",0.696205

The recipe you are looking for (146982) is:

,name,ingredients
207705,taco bell taco seasoning clone copycat,"['all-purpose flour', 'cornstarch', 'dried oni..."

the top 5 closest recipes are:

,name,ingredients,score
81283,excellent taco seasoning mix,"['chili powder', 'cornstarch', 'ground cumin',...",0.546546
140240,mucho gusto taco seasoning mix,"['season salt', 'cayenne pepper', 'onion powde...",0.533124
175483,roasted edamame,"['olive oil', 'dried basil', 'chili powder', '...",0.502645
198940,stamped shortbread cookies,"['granulated sugar', 'butter', 'all-purpose fl...",0.455736
207879,taco seasoning reduced sodium gluten free,"['chili powder', 'paprika', 'ground cumin', 'o...",0.452370

The recipe you are looking for (32114) is:

,name,ingredients
118067,kittencal s easy and delicious ranch parmesan ...,"['boneless skinless chicken breasts', 'dry bre..."

the top 5 closest recipes are:

,name,ingredients,score
90207,garlic egg chicken,"['egg yolk', 'garlic', 'boneless skinless chic...",0.721833
103172,healthier melt in your mouth chicken breasts,"['boneless chicken breasts', 'parmesan cheese'...",0.707198
118036,kittencal s cream cheese stuffed chicken breast,"['boneless skinless chicken breasts', 'butter'...",0.701477
118214,kittencal s moist cheddar garlic oven fried ch...,"['butter', 'garlic', 'garlic powder', 'seasoni...",0.670879
186895,simple garlic parmesan chicken,"['chicken breasts', 'butter', 'parmesan cheese...",0.670841

The recipe you are looking for (7480) is:

,name,ingredients
67764,cube steak and gravy crock pot,"['cube steaks', 'salt', 'pepper', 'flour', 'on..."

the top 5 closest recipes are:

,name,ingredients,score
5306,andy griffith favorite blue bird diner ground ...,"['ground chuck', 'flour', 'water', 'salt', 'pe...",0.771554
44281,chicken fried steak shortcut,"['cube steak', 'cream of mushroom soup', 'flou...",0.729568
59096,country fried quail,"['quail', 'flour', 'salt', 'pepper', 'oil', 'w...",0.729362
138784,moms simple swiss steak,"['beef round steak', 'flour', 'pepper', 'cream...",0.729309
230158,yummy tender pork chops,"['pork chops', 'salt', 'pepper', 'cream of mus...",0.729066

The recipe you are looking for (47092) is:

,name,ingredients
115337,joanne s creamy bruschetta,"['mayonnaise', 'mozzarella cheese', 'tomatoes'..."

the top 5 closest recipes are:

,name,ingredients,score
30648,bruschetta with or without cheese,"['baguette', 'olive oil', 'butter', 'garlic', ...",0.843265
38852,cheddar bruschetta,"['french bread', 'tomatoes', 'cheddar cheese',...",0.707217
39157,cheese olive bruschetta,"['mayonnaise', 'mozzarella cheese', 'tomatoes'...",0.630027
164527,potato and mozzarella pie,"['potatoes', 'butter', 'mozzarella cheese', 't...",0.589353
168085,quick easy eggplant parmesan in the microwave,"['eggplant', 'low-sodium tomato paste', 'water...",0.577270

The recipe you are looking for (102812) is:

,name,ingredients
143316,new england roasted cornish game hens,"['lemon', 'olive oil', 'garlic cloves', 'dried..."

the top 5 closest recipes are:

,name,ingredients,score
74034,dustin s rosemary baked potatoes,"['baby red potatoes', 'olive oil', 'dried rose...",0.683154
90206,garlic dipping sauce for bread,"['extra virgin olive oil', 'garlic cloves', 'c...",0.674495
98179,grilled asparagus with garlic and fresh lemon,"['asparagus', 'extra virgin olive oil', 'garli...",0.615988
104923,herb crusted rack of lamb,"['lemon', 'garlic cloves', 'dried rosemary', '...",0.615957
121984,lemon pepper bay scallops,"['bay scallop', 'olive oil', 'garlic clove', '...",0.615746

The recipe you are looking for (53667) is:

,name,ingredients
152905,parmesan crusted broiled scallops,"['melba toast', 'parmesan cheese', 'fresh pars..."

the top 5 closest recipes are:

,name,ingredients,score
31716,butter and cheese ravioli,"['spinach ravioli', 'butter', 'fresh parsley',...",0.665873
82101,fantastic grilled corn on the cob,"['corn', 'butter', 'parmesan cheese', 'fresh p...",0.619081
150613,oven fried haddock fillets,"['haddock fillets', 'parmesan cheese', 'milk',...",0.616800
182781,scored parmesan potatoes,"['baking potatoes', 'butter', 'paprika', 'fres...",0.611644
195967,spicy grilled potatoes,"['baking potatoes', 'butter', ""mccormick's mon...",0.611633

The recipe you are looking for (57192) is:

,name,ingredients
167716,puppy chow or monkey munch,"['chex cereal', 'semi-sweet chocolate chips', ..."

the top 5 closest recipes are:

,name,ingredients,score
42035,chex muddy buddies,"['chex cereal', 'semi-sweet chocolate chips', ...",0.892239
95148,grandma s best hot fudge sauce,"['semi-sweet chocolate chips', 'evaporated mil...",0.801390
155589,peanut butter chocolate candy,"['butter', 'peanut butter', 'vanilla', 'powder...",0.798411
155744,peanut butter balls,"['smooth peanut butter', 'butter', 'powdered s...",0.797971
172726,reese s peanut butter cup bars,"['butter', 'graham cracker crumbs', 'powdered ...",0.797884

The recipe you are looking for (15873) is:

,name,ingredients
166012,prime rib roast beef with fresh garlic and ros...,"['boneless beef rib roast', 'coarse salt', 'fr..."

the top 5 closest recipes are:

,name,ingredients,score
90836,garlicky broccolini,"['broccolini', 'coarse salt', 'extra virgin ol...",0.611125
98340,grilled broccolini packets,"['broccolini', 'olive oil', 'coarse salt', 'ga...",0.610938
113478,ivo s foil barbecued potatoes with rosemary bbq,"['potatoes', 'garlic clove', 'coarse salt', 'f...",0.575585
174897,roast potatoes with herbs,"['potatoes', 'olive oil', 'garlic cloves', 'fr...",0.575585
206178,sweet onion focaccia,"['pizza dough', 'olive oil', 'garlic clove', '...",0.565754

The recipe you are looking for (138205) is:

,name,ingredients
84466,fish with lemon butter caper sauce,"['fish fillets', 'all-purpose flour', 'salt an..."

the top 5 closest recipes are:

,name,ingredients,score
64585,crisp lemon calf liver,"['bacon', 'all-purpose flour', 'dried dill wee...",0.589375
67397,crushed lemon potatoes,"['fingerling potato', 'lemon juice', 'unsalted...",0.579260
121868,lemon melt away cookies,"['butter', 'powdered sugar', 'lemon zest', 'le...",0.577451
181306,sauted mushrooms with red wine,"['mushroom', 'butter', 'red wine', 'salt and p...",0.577430
209385,tender lemon parsleyed chicken stove or oven,"['chicken', 'butter', 'onion', 'salt and peppe...",0.577408

The recipe you are looking for (125435) is:

,name,ingredients
23450,big john s killer caesar salad dressing,"['mayonnaise', 'egg substitute', 'parmesan che..."

the top 5 closest recipes are:

,name,ingredients,score
29539,broccoli spaghetti,"['fresh broccoli', 'garlic cloves', 'olive oil...",0.749921
33225,caesar dressing lightened up,"['light mayonnaise', 'egg substitute', 'parmes...",0.666597
33262,caesar salad dressing low cal,"['tofu', 'lemon juice', 'dijon mustard', 'garl...",0.639042
150540,outback s copycat caesar salad dressing by tod...,"[""hellmann's mayonnaise"", 'egg substitute', 'p...",0.618901
162332,pomegranate molasses dressing,"['garlic cloves', 'ground cumin', 'sugar', 'po...",0.612544

The recipe you are looking for (11115) is:

,name,ingredients
175222,roasted brussels sprouts,"['brussels sprouts', 'olive oil', 'kosher salt..."

the top 5 closest recipes are:

,name,ingredients,score
545,take me to spain tortilla espanola 5fix,"['olive oil', 'simply potatoes diced potatoes ...",0.612637
30797,brussels sprouts with black bean garlic sauce,"['olive oil', 'brussels sprout', 'black bean g...",0.577570
30808,brussels sprouts with chorizo,"['kosher salt', 'brussels sprout', 'olive oil'...",0.577434
82232,farinata ligurian bread snack,"['chickpea flour', 'water', 'kosher salt', 'ol...",0.575825
144697,no nonsense chuck eye steak,"['chuck eye steak', 'kosher salt', 'black pepp...",0.575470

The recipe you are looking for (135961) is:

,name,ingredients
574,whatever floats your boat brownies,"['butter', 'unsweetened cocoa', 'sugar', 'eggs..."

the top 5 closest recipes are:

,name,ingredients,score
4931,amish brownies,"['baking chocolate squares', 'butter', 'sugar'...",0.752103
52247,chocolaty and gooey brownies,"['butter', 'sugar', 'unsweetened cocoa', 'eggs...",0.738816
91704,giant crisp chocolate chip cookies,"['flour', 'baking soda', 'salt', 'butter', 'su...",0.738793
116955,ken s butter tart squares,"['flour', 'brown sugar', 'butter', 'raisins', ...",0.738076
219485,ultimate chocolate peanut butter torte,"['butter', 'unsweetened cocoa', 'sugar', 'eggs...",0.732742

The recipe you are looking for (50909) is:

,name,ingredients
70791,delicious chicken pot pie,"['potato', 'onion', 'celery', 'carrot', 'marga..."

the top 5 closest recipes are:

,name,ingredients,score
40208,cheesy chicken chowder,"['chicken broth', 'potatoes', 'celery', 'salt'...",0.832760
71213,delightful chick pot pie,"['russet potato', 'sweet onion', 'celery', 'ca...",0.750022
76081,easy cream of wild rice chicken soup,"['onion', 'carrot', 'celery', 'margarine', 'al...",0.720692
106423,homemade chicken pot pie,"['potatoes', 'margarine', 'onion', 'celery', '...",0.720321
221964,vegetarian no chicken pot pie,"['ground thyme', 'potato', 'onion', 'celery', ...",0.696479

The recipe you are looking for (173411) is:

,name,ingredients
73379,dr pat s hot toddy cold remedy,"['water', 'tea bag', 'whiskey', 'honey', 'lemo..."

the top 5 closest recipes are:

,name,ingredients,score
107544,honey lemonade with raspberry cubes,"['honey', 'lemon juice', 'water', 'raspberries']",0.708058
107980,honey chai iced tea,"['water', 'tea bags', 'honey', 'vanilla vodka']",0.614667
109056,hot ginger lemonade,"['water', 'honey', 'lemon juice', 'crystallize...",0.613594
122379,lemon toddy,"['water', 'lemon juice concentrate', 'honey', ...",0.613546
201021,strawberry lemonade,"['lemon juice', 'frozen strawberries', 'honey'...",0.613500

The recipe you are looking for (151474) is:

,name,ingredients
113126,italian seasoning old sub sailor,"['dried basil', 'dried marjoram', 'dried greek..."

the top 5 closest recipes are:

,name,ingredients,score
105341,herbes de provence simple spice mix from veg...,"['dried basil', 'dried marjoram', 'dried orega...",0.602456
122609,lemon herb seasoning,"['dried basil', 'dried oregano', 'black pepper...",0.560701
181709,savory beef or pork roast rub,"['dried marjoram', 'dried basil', 'garlic powd...",0.542817
182073,savory steak rub,"['dried marjoram', 'dried basil', 'garlic powd...",0.499820
219944,uncle skwerl s speckled pig paint grilling sauce,"['prepared yellow mustard', 'cider vinegar', '...",0.489822

The recipe you are looking for (1755) is:

,name,ingredients
59201,country sausage gravy,"['pork sausage', 'butter', 'all-purpose flour'..."

the top 5 closest recipes are:

,name,ingredients,score
77931,easy sausage gravy,"['bulk pork sausage', 'butter', 'all-purpose f...",0.816515
87239,fresh sausage waffles,"['pork sausage', 'eggs', 'milk', 'butter', 'al...",0.771670
142457,nacho cheese sauce,"['butter', 'all-purpose flour', 'milk', 'ameri...",0.771523
187128,simple pie crust,"['butter', 'all-purpose flour', 'salt', 'milk']",0.730363
226582,white sauce,"['milk', 'butter', 'all-purpose flour', 'salt'...",0.730325

[(129411, 1.0),
 (135043, 0.9999999),
 (53731, 0.9999999),
 (163459, 0.9999999),
 (173606, 0.9899642)]

In [19]:
#show object in memory
sorted([(x, sys.getsizeof(globals().get(x))) for x in dir()], key=lambda x: x[1], reverse=True)

[('pd_matrix', 1436889127),
 ('U', 1426120112),
 ('reduced_matrix', 1426120112),
 ('raw_recipes', 388410531),
 ('pp_recipes', 254454202),
 ('interactions_train', 6750472),
 ('set_ingredients', 524520),
 ('list_ingredients', 72056),
 ('_6', 40187),
 ('S', 8096),
 ('_3', 3253),
 ('_i13', 1651),
 ('_i15', 1552),
 ('_i10', 685),
 ('_i4', 411),
 ('_i5', 375),
 ('_i14', 295),
 ('In', 272),
 ('_ih', 272),
 ('_i7', 259),
 ('_i6', 255),
 ('Out', 248),
 ('_oh', 248),
 ('_i2', 228),
 ('_i11', 202),
 ('current', 200),
 ('_i3', 188),
 ('_i19', 167),
 ('_i17', 163),
 ('_ii', 163),
 ('_i12', 158),
 ('_i8', 145),
 ('GetClosestRecipes', 144),
 ('GetRecipesInformationsbyId', 144),
 ('OneVSAllCosineSimilarity', 144),
 ('__nonzero__', 144),
 ('cosine_similarity', 144),
 ('getCBFRecommandation', 144),
 ('svds', 144),
 ('tqdm', 144),
 ('_i9', 128),
 ('V', 112),
 ('_', 112),
 ('_16', 112),
 ('_18', 112),
 ('__', 112),
 ('reco', 112),
 ('result', 96),
 ('result_reduced', 96),
 ('__doc__', 89),
 ('__builtin__', 88),
 ('__builtins__', 88),
 ('gc', 88),
 ('np', 88),
 ('pd', 88),
 ('plt', 88),
 ('sys', 88),
 ('_dh', 80),
 ('_13', 72),
 ('___', 72),
 ('get_ipython', 72),
 ('_i1', 65),
 ('exit', 64),
 ('quit', 64),
 ('__name__', 57),
 ('x', 54),
 ('_i', 53),
 ('_i16', 53),
 ('_i18', 53),
 ('_iii', 53),
 ('i', 28),
 ('__loader__', 16),
 ('__package__', 16),
 ('__spec__', 16)]