# Download Data from Kaggle and perform split:
The data comes in 2 files : train, validation and test.
Unfortunately, the split performed seems to seperate movies from sets that don't cross over
A merge of data and a split is performed according taking in account the temporality: the 20% latest rating from each user will go to test set

At end, new train/test files are generated in/Data/generated

In [1]:
!pwd

/Users/seb/MachineLearning/MLProjects/Recipes/src

In [1]:
import pandas as pd
import kaggle as kg
import numpy as np
from sklearn.model_selection import train_test_split
import gc, sys
from tqdm import tqdm_notebook as tqdm

DATA_FOLDER='../data/'

In [3]:
api = kg.KaggleApi('~/.kaggle/kaggle.json')
api.authenticate()
api.dataset_download_files('shuyangli94/food-com-recipes-and-user-interactions', DATA_FOLDER,
                           quiet=False, unzip=True)

  1%|          | 2.00M/267M [00:00<00:14, 19.6MB/s]

Downloading food-com-recipes-and-user-interactions.zip to ../data

100%|██████████| 267M/267M [00:12<00:00, 22.1MB/s]

In [2]:
df_full_data = pd.concat([pd.read_csv(f'{DATA_FOLDER}interactions_{typ}.csv') 
                          for typ in ['train', 'validation', 'test']])

#convert date column to datime and sort dataframe by date
df_full_data['date'] = pd.to_datetime(df_full_data['date'], format='%Y-%m-%d')
df_full_data.sort_values(['date'])

#perform the split
train, test = train_test_split(df_full_data, random_state = 122, shuffle = False, test_size = 0.2)

           user_id  recipe_id       date  rating      u       i
0             2046       4684 2000-02-25     5.0  22095   44367
1             2046        517 2000-02-25     5.0  22095   87844
2             1773       7435 2000-03-13     5.0  24732  138181
3             1773        278 2000-03-13     4.0  24732   93054
4             2046       3431 2000-04-07     5.0  22095  101723
5             2046      13307 2000-05-21     5.0  22095  134551
6             2312        780 2000-09-12     5.0   1674  127175
7             2312      51964 2000-09-26     5.0   1674  151793
1627          2369       7762 2000-10-05     3.0  20970   37104
8             2312       1232 2000-10-17     4.0   1674   15498
9             2312       4397 2000-10-17     5.0   1674   14380
10            2625        471 2000-10-18     3.0  20667   35144
11            2312        164 2000-10-20     5.0   1674   96573
12            2999       3567 2000-10-23     5.0  19047  118466
13            2178       3704 2000-10-30     3.0   6065    3172
14            2178       4366 2000-11-04     5.0   6065   50924
4950          3794       2985 2000-12-06     5.0  12353   35972
15            3794       7508 2000-12-11     4.0  12353   10114
7012          3794       8245 2000-12-12     5.0  12353   81156
5576          2525       8521 2000-12-13     0.0  15025   94691
16            3794        191 2000-12-15     5.0  12353   37830
17            3794       3525 2000-12-15     5.0  12353   63320
18            2312       3651 2001-01-16     5.0   1674  107132
19            2695        350 2001-01-19     1.0   9204   13543
12356         1773        649 2001-02-01     4.0  24732   98465
20            5523       2713 2001-02-01     4.0   7396    8160
21            5523       7695 2001-02-01     1.0   7396  102322
23           42189       4460 2001-02-12     5.0  17652  104640
22            5523       1229 2001-02-12     4.0   7396   59290
24            5929       7954 2001-02-18     5.0   5960  133046
...            ...        ...        ...     ...    ...     ...
11421       498082     501328 2018-12-13     5.0  21988  104129
698873  1800120288      50782 2018-12-14     5.0   6427   45526
698874       49542      88503 2018-12-14     5.0   1381   24413
698875      305531      27971 2018-12-14     5.0     56  130973
698876  2001297534     245912 2018-12-15     5.0  10452  108448
698877       65957      57589 2018-12-15     5.0  16574   73995
698887      146742     278872 2018-12-16     5.0   2178   76230
698886  2000058449     116269 2018-12-16     5.0  18324  162409
698885      218535      14814 2018-12-16     5.0   1411  158930
698884      218535     108068 2018-12-16     5.0   1411  162977
698880      218535     242547 2018-12-16     5.0   1411   51574
698882     1924549     184356 2018-12-16     5.0  18667   89109
698881  2000498330     118122 2018-12-16     5.0   2248  144052
698879     1628152     340812 2018-12-16     5.0  14238  147426
698878      448342     332410 2018-12-16     4.0   5842    7764
698883      282673     330437 2018-12-16     5.0   9562   67650
698893      527509      78552 2018-12-17     2.0   9136  126870
698892     1271506      53121 2018-12-17     5.0   2877   51525
698891  2001513060     192495 2018-12-17     5.0    294  124076
698895      454804      20713 2018-12-17     0.0   3249  169901
698889  2001513060     367414 2018-12-17     1.0    294    6785
698888      400708       5123 2018-12-17     5.0    560   72083
698894      117501     529600 2018-12-17     5.0  10368   18120
698890  2002025577     173518 2018-12-17     5.0   5201   94901
698899      226867     363072 2018-12-18     5.0   3604   29101
698898     1290903     131607 2018-12-18     5.0  11605   76163
698897  2002312797      27208 2018-12-18     5.0  14897   99787
698896      926904     457971 2018-12-18     5.0  13681  141067
11960   1800292505     509363 2018-12-18     5.0  23599  101128
698900  2000498330     314535 2018-12-19     5.0   2248   21514

[718379 rows x 6 columns]

In [3]:
print('number of recipes : ', len(df_full_data['i'].unique()))
print('number of users : ', len(df_full_data['u'].unique()))

number of recipes :  178265
number of users :  25076

## Filter sparse recipes and users

In [3]:
#######  Filter sparse recipes and users (not many associated ratings)
min_recipe_ratings = 10
min_user_ratings = 5

# Filter sparse recipes
filter_recipes = (df_full_data['i'].value_counts()>min_recipe_ratings)
filter_recipes = filter_recipes[filter_recipes].index.tolist() # list of sparse recipes

# Create new dataset where these recipes are filtered
df_filter = df_full_data[df_full_data['i'].isin(filter_recipes)]

# Filter sparse users
filter_users = (df_filter['u'].value_counts()>min_user_ratings)
filter_users = filter_users[filter_users].index.tolist()

# Create again new dataset, where users are now filtered
# We have do to it sequentially otherwise some users have rated more than 10 recipes but they can all get deleted as each of them was not rated more than 10 times
df_filter = df_filter[df_filter['u'].isin(filter_users)]

# Every recipe is rated at least 5-6 times. Same for users (more obvious as filtered in 2nd position)
print('Ensure that the value is 0 :',(df_filter['i'].value_counts().values < 5).astype(int).sum())

print('Nomber of records unfiltered :', len(df_full_data))
print('Nomber of records filtered :', len(df_filter))

Ensure that the value is 0 : 0
Nomber of records unfiltered : 718379
Nomber of records filtered : 281263

In [4]:
#print the minimum number of rating per recipes
print('the minimum rating per recipe is :',
      df_filter.groupby(['i'])['rating'].count().sort_values().head(1).values[0])

#print the minimum number of rating per user
print('the minimum rating per user is :',
      df_filter.groupby(['u'])['rating'].count().sort_values().head(1).values[0])

the minimum rating per recipe is : 5
the minimum rating per user is : 6

In [6]:
# Save full data
df_filter.to_csv(f'{DATA_FOLDER}generated/full_data_filtered.csv', index=False)

## Train /test set

In [78]:
##### Approach consists in placing the last ratings given by each user (approx 20%) in the test set. 

# Start with empty dataframes
train_set = pd.DataFrame(columns=['user_id', 'recipe_id', 'date', 'rating', 'u', 'i'])
test_set = pd.DataFrame(columns=['user_id', 'recipe_id', 'date', 'rating', 'u', 'i'])

train_df_list = []
test_df_list = []

# Loop over users - add last ratings given by each user to the test set 
mylist = list(set(df_filter.u))
for item in tqdm(mylist, 'iterating over users'): 
    subdata = df_filter[df_filter['u']==item].sort_values(by='date')  # define a new dataframe for each user
    limit = round(0.2 * len(subdata))
    head = subdata.head(len(subdata) - limit)
    tail = subdata.tail(limit)
    train_df_list.append(head.copy())
    test_df_list.append(tail.copy())
    # put the other part of the data with ratings N/A => ensure that train and test have the same dimension
    with pd.option_context('mode.chained_assignment', None):
        head['rating']= np.nan
        tail['rating']= np.nan
    train_df_list.append(tail)
    test_df_list.append(head)
 
print("Starting build of train/test datasets")
train_set = pd.concat(train_df_list)
test_set = pd.concat(test_df_list)
print('Build completed')

print('train set shape is :',train_set.shape, 
      'deleted ratings number is :',train_set['rating'].isnull().sum(),
     'ratio is :', train_set['rating'].isnull().sum()/len(train_set))
print('test set shape is :',test_set.shape, 'deleted ratings number is :',
      test_set['rating'].isnull().sum(),
     'ratio is :', test_set['rating'].isnull().sum()/len(test_set))

HBox(children=(IntProgress(value=0, description='iterating over users', max=10007, style=ProgressStyle(descrip…

Starting build of train/test datasets
Build completed
train set shape is : (281263, 6) deleted ratings number is : 55925 ratio is : 0.19883525383715597
test set shape is : (281263, 6) deleted ratings number is : 225338 ratio is : 0.801164746162844

In [62]:
##### Create a user-movie matrix for this approach
train_matrix = train_set.pivot_table(index='u', columns='i', values='rating', dropna=False)
print(f'Shape of train User-Movie-Matrix:\t{train_matrix.shape}')

test_matrix = test_set.pivot_table(index='u', columns='i', values='rating',dropna=False)
print(f'Shape of test User-Movie-Matrix:\t{test_matrix.shape}')

Shape of train User-Movie-Matrix:	(10007, 11120)
Shape of test User-Movie-Matrix:	(10007, 11120)

## Save the files in 'DATA_FOLDER/data/generated'

In [31]:
# 5 columns 
train_set[['rating', 'u', 'i']].to_csv(f'{DATA_FOLDER}generated/inter_train.csv')
test_set[['rating', 'u', 'i']].to_csv(f'{DATA_FOLDER}generated/inter_test.csv')

## Ensure that re building matrix provide the same result (size)

In [75]:
# How to read the dataset normally 
test = pd.read_csv(f'{DATA_FOLDER}generated/inter_test.csv')

# Way to read the matrix as a pivot table directly - does not need to be stored a such
test_matrix_1 = pd.read_csv(f'{DATA_FOLDER}generated/inter_test.csv').pivot_table(
                            index='u', columns='i', values='rating', dropna=False)

## Merging PP_recipes and RAW_recipes

Write them in /data/generated/

In [36]:
pp_recipes = pd.read_csv('../data/PP_recipes.csv')
raw_recipes = pd.read_csv('../data/RAW_recipes.csv')

new_recipes = pp_recipes.join(raw_recipes.set_index(['id']), on='id', how = 'left')

display(new_recipes.head(3))

new_recipes.to_csv(f'{DATA_FOLDER}generated/recipes.csv', index=False)

,id,i,name_tokens,ingredient_tokens,steps_tokens,techniques,calorie_level,ingredient_ids,name,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,424415,23,"[40480, 37229, 2911, 1019, 249, 6878, 6878, 28...","[[2911, 1019, 249, 6878], [1353], [6953], [153...","[40480, 40482, 21662, 481, 6878, 500, 246, 161...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[389, 7655, 6270, 1527, 3406]",aromatic basmati rice rice cooker,61,496803,2010-05-10,"['weeknight', 'time-to-make', 'course', 'main-...","[228.2, 2.0, 2.0, 8.0, 9.0, 1.0, 15.0]",6,"['rinse the rice in a fine strainer , then dra...",from the ultimate rice cooker cookbook. the a...,"['basmati rice', 'water', 'salt', 'cinnamon st...",5
1,146223,96900,"[40480, 18376, 7056, 246, 1531, 2032, 40481]","[[17918], [25916], [2507, 6444], [8467, 1179],...","[40480, 40482, 729, 2525, 10906, 485, 43, 8393...","[1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...",0,"[2683, 4969, 800, 5298, 840, 2499, 6632, 7022,...",pumpkin pie a la easy,55,229619,2005-11-25,"['60-minutes-or-less', 'time-to-make', 'course...","[249.4, 16.0, 92.0, 8.0, 11.0, 27.0, 11.0]",10,"['preheat oven to 350', 'combine flour , oats ...",this is a pampered chef recipe for their stone...,"['flour', 'oats', 'brown sugar', 'pecans', 'bu...",12
2,312329,120056,"[40480, 21044, 16954, 8294, 556, 10837, 40481]","[[5867, 24176], [1353], [6953], [1301, 11332],...","[40480, 40482, 8240, 481, 24176, 296, 1353, 66...","[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, ...",1,"[1257, 7655, 6270, 590, 5024, 1119, 4883, 6696...",cheesy tomato soup with potatoes,25,621626,2008-07-07,"['30-minutes-or-less', 'time-to-make', 'course...","[351.3, 34.0, 15.0, 50.0, 25.0, 70.0, 8.0]",6,"['pour the broth & water into a large pot', 'a...",after modifying another recipe i came up with ...,"['chicken broth', 'water', 'salt', 'black pepp...",15

## Create a dataframe with a the name of a recipe and 'i' as index

In [39]:
# Construct a dataframe with 'i' as index and the recipe name as value
id_target=[]
id_target = list(set(train_set['i'].tolist()))
id_target.sort()
name_recipes={}
for item in id_target: 
    a = new_recipes[new_recipes['i']== item].name.tolist()
    name_recipes[item] = a 

recipe_names = pd.DataFrame(name_recipes).T
recipe_names.columns = ['Name']
recipe_names.to_csv(f'{DATA_FOLDER}generated/names.csv')

In [ ]:
"""
# Construct a dataframe with 'i' as index and the recipe name as value
id_target=[]
id_target = list(set(train_set['i'].tolist()))
id_target.sort()
name_recipes={}
for item in id_target: 
    b = new_recipes[new_recipes['i']== item].id
    a = new_recipes[new_recipes['i']== item].name
    name_recipes[item] = [a, b]

recipe_names = pd.DataFrame(name_recipes).T
recipe_names.columns = ['Name']
recipe_names.to_csv(f'{DATA_FOLDER}generated/names.csv')
"""

In [13]:
#show object in memory
sorted([(x, sys.getsizeof(globals().get(x))) for x in dir()], key=lambda x: x[1], reverse=True)

[('test_matrix', 890302808),
 ('train_matrix', 890302808),
 ('new_recipes', 538071181),
 ('raw_recipes', 388410531),
 ('pp_recipes', 254454202),
 ('df_full_data', 40229256),
 ('train', 32183400),
 ('df_filter', 15750760),
 ('test_set', 15750760),
 ('train_set', 15750760),
 ('test', 8045888),
 ('test_df_list', 178032),
 ('train_df_list', 178032),
 ('mylist', 90176),
 ('filter_recipes', 89032),
 ('filter_users', 80128),
 ('_i8', 1665),
 ('_i6', 1206),
 ('_i4', 490),
 ('_i9', 411),
 ('_i7', 392),
 ('subdata', 368),
 ('_i', 339),
 ('_i12', 339),
 ('head', 312),
 ('_i11', 281),
 ('_ii', 281),
 ('_i3', 257),
 ('_i10', 249),
 ('_iii', 249),
 ('Out', 248),
 ('_oh', 248),
 ('_i2', 238),
 ('In', 200),
 ('_ih', 200),
 ('_i5', 172),
 ('_i13', 167),
 ('tqdm', 144),
 ('train_test_split', 144),
 ('__doc__', 113),
 ('__builtin__', 88),
 ('__builtins__', 88),
 ('gc', 88),
 ('kg', 88),
 ('np', 88),
 ('pd', 88),
 ('sys', 88),
 ('tail', 88),
 ('_dh', 80),
 ('get_ipython', 72),
 ('api', 64),
 ('exit', 64),
 ('quit', 64),
 ('DATA_FOLDER', 57),
 ('__name__', 57),
 ('_', 53),
 ('__', 53),
 ('___', 53),
 ('_i1', 53),
 ('item', 28),
 ('limit', 28),
 ('min_recipe_ratings', 28),
 ('min_user_ratings', 28),
 ('_exit_code', 24),
 ('__loader__', 16),
 ('__package__', 16),
 ('__spec__', 16)]